
/* ANIMATION CSS */
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
#slideBar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgba(0, 0, 1, 0.377);
}
#slideBar .sBcontent {
  width: 50vw;
  height: 100vh;
  display: grid;
  min-width: 240px;
  padding: 12px;
  padding-top: 80px;
  position: relative;
  align-content: space-between;
  justify-items: center;
  text-align: center;
  background: #fff;
}
.sBcontent .fa-close {
  padding: 10px;
  position: absolute;
  right: 12px;
  font-size: 22px;
  cursor: pointer;
}
.sBcontent .slide-links li {
  padding: 10px;
  text-align: center;
}
.sBcontent .slide-links a {
  color: #000;
  font-size: 22px;
  font-weight: bold;
}
.sBcontent .slide-links a:hover {
  color: var(--mainColor);
}
.slideBar-social {
  padding: 10px 0;
}
.slideBar-social a {
  color: var(--mainColor);
  padding: 10px;
  font-size: 22px;
}
.slideBar-social a:hover {
  color: #222;
}

/* MAIN CSS */
main section {
  padding: 15px 10px;
  font-size: 110%;
  line-height: 1.6em;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, sans-serif;
}
section .heading {
  display: flex;
  font-size: 17px;
  padding: 8px 0;
  color: var(--mainColor);
  align-items: center;
  border-radius: 3px;
}
section .heading .line {
  width: 28px;
  height: 2px;
  margin: 0 4px;
  background: var(--mainColor);
}
section .heading1 {
  padding: 14px;
  font-size: 27px;
}
section .info {
  padding: 0 10px;
}
.info p {
  padding: 6px 10px;
}
/* ABOUT CSS */
#about .content > div {
  margin: 10px;
  padding: 12px;
  margin-bottom: 26px;
  border-radius: 10px;
  line-height: 1.6em;
  box-shadow: 1px 1px 5px #888;
}
#about .image {
  padding: 0;
  max-width: 360px;
  margin: 10px auto;
  border-radius: 16px;
  overflow: hidden;
}
#about .image img {
  padding: 0;
  transition: all 2s;
}
#about .image:hover img {
  transform: scale(1.06);
}
#about .content .skills {
  padding: 25px 15px;
}
#about .skills ul li {
  display: flex;
  justify-content: space-between;
}
#about .skills ul .progress {
  width: 97%;
  height: 8px;
  margin: 8px 10px;
  position: relative;
  text-align: right;
  border-radius: 3px;
  background: #c4cdd3;
  margin-bottom: 15px;
}
.skills .progress .bar {
  width: 95%;
  height: 8px;
  padding: 0 10px;
  position: absolute;
  border-radius: 3px;
  background: rgb(11, 98, 230);
}
.skills .progress .bar.js {
  width: 85%;
  background: #25d40e;
}
.skills .progress .bar.react {
  width: 75%;
  background: var(--mainColor);
}
.skills .progress .bar.php {
  width: 80%;
  background: #e71a1a;
}
.skills .progress .bar.wp {
  width: 75%;
  background: #04a4e4;
}
.skills .progress .bar.ps {
  width: 70%;
  background: #09236b;
}
.skills .progress .bar.cd {
  width: 90%;
  background: #7925c7;
}

/* SERVICE CSS */
#services .info {
  padding: 6px 10px;
}
#services .articles {
  padding: 15px;
}
#services .articles article {
  margin: 10px;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #888;
}
.articles article h4 {
  padding: 6px 0;
  font-size: 19px;
}
.articles article .fa {
  color: var(--mainColor);
  padding: 5px 25px;
  font-size: 38px;
}
/* PORTFOLIO CSS */
#portfolio {
  background: linear-gradient(
      rgba(243, 241, 241, 0.98),
      rgba(248, 248, 248, 0.95),
      rgba(248, 248, 248, 0.98)
    ),
    url(../images/chart.jpg) center;
  background-size: cover;
}
#portfolio .works {
  display: grid;
  padding: 0 10px;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(360px, 420px));
}
#portfolio figure {
  width: 90vw;
  margin: 12px auto;
  min-width: 260px;
  max-width: 320px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #aaa;
  background: #fff;
  position: relative;
  overflow: hidden;
}
#portfolio figure figcaption {
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  border-top: 1px solid #aaa;
  background: rgba(18, 96, 160, 0.7);
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: all 2s 0.4s;
}
#portfolio figure a {
  color: #fff;
}
#portfolio figure .image {
  border: 2px solid #fff;
  transition: all 1s;
}
#portfolio figure figcaption .name {
  padding: 5px;
  font-size: 28px;
}
#portfolio figure:hover figcaption {
  opacity: 1;
}
#portfolio figure:hover .image {
  transform: scale(1.06);
}
/* CONTACT CSS */
#contact .contacts {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contacts .cbox {
  width: 80vw;
  height: 140px;
  max-width: 500px;
  padding: 20px;
  margin: 20px 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 1px 1px 5px #bbb;
}
.contacts .cbox .fa {
  font-size: 40px;
  padding-bottom: 12px;
}
.social > div {
  display: flex;
  padding: 8px;
  margin: 0 10px;
 font-size: 30px;
  border-radius: 6px;
  justify-content: space-around;
  box-shadow: 1px 1px 4px #ddd;
}
footer {
  padding: 15px;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #222;
}
footer p {
  color: #fff;
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (min-width: 740px) {
   #about .content {
    display: flex;
    justify-content: space-around;
  }
  .content > div {
    flex: 1;
  }
  #services .articles {
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
  }
  #services .articles article {
    margin: 10px;
    padding: 12px 30px;
    margin-bottom: 25px;
  }
  .contacts .cbox {
    max-width: 600px;
  }
}
